.loginform {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 100vh;
  background-color: #333333;
}

.outerbox {
  background-color: white;
  height: 323px;
  width: 250px;
}
.newouterbox {
  background-color: white;
  height: 400px;
  width: 250px;
}
form {
  padding: 24px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.signin,
.signup {
  margin-top: 10px;
}
.btn-primary {
  background-color: #7c5cbf;
  border: none;
}
.btn-primary:hover {
  background-color: #63479e;
}
.leftcolumn {
  display: flex;
  flex-direction: column;
}
.leftcolumn h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #624997;
}
.leftcolumn input {
  width: 80%;
}
.leftcolumn button {
  margin-top: 20px;
  width: 80%;
}
.leftcolumn label {
  font-weight: 600;
}

.theaddark {
  background-color: #7c5cbf;
}
.transaction nav {
  display: flex;
}

.navbar {
  color: red;
  display: inline;
}
.rightcolumn {
  height: 90vh;
}

.transaction {
  background-color: #fffef2;
}
.logout {
  float: right;
}
.transaction .leftnav {
  display: flex;
}
.transaction .rightnav {
  flex: 2;
}
.transaction .leftnav {
  flex: 25;
}
.registerbutton {
  margin-bottom: 30px;
}
.mainheading {
  background-color: #333333;
}
.mainheading h1 {
  color: white;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.mainheading p {
  text-align: center;
  color: white;
  font-weight: 500;
}
.register h1 {
  margin-top: 20px;
  color: #624997;
}
.registerform {
  margin-top: 40px;
}
.picname {
  display: flex;
  width: 60%;
}
.proflie {
  flex: 1;
}
.rightform {
  flex: 1;
}
.details {
  margin-top: 100px;
}
.namebutton {
  border: none;
  background-color: #fffef2;
  text-decoration: underline;
}
.uploadpic {
  display: none;
}
.labels {
  color: #5421c0;
}
.mymodal {
  z-index: 1.5;
  background-color: red;
}
.deletebutton {
  border: none;
  border-radius: 5px;
  background-color: rgb(197, 66, 66);
  font-weight: 600;
}
